name: Build

on:
  - workflow_dispatch
  - push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@12.5
      with:
        cli: latest

    - name: Build uberjar
      run: clojure -T:build uber
